<!DOCTYPE html>
<html>
	<head>
		<title>{{STORY_NAME}}</title>
		<meta charset="utf-8">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<style>
		<%- style %>
		</style>
	</head>
	<body>
		<div id="main"></div>
		{{STORY_DATA}}
		<script>
		<%- script %>
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>
